@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
:root{
    --color-black-100: rgb(39, 39, 39);
    --color-white-100: rgb(255, 255, 255);
    --color-cyan-100: rgb(21, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    line-height: 1.3;
    font-size: 100%;
    font-family: 'Roboto',sans-serif;
}
p{
    color: var(--color-white-100);
}
body{
    width: 100%;
    min-height: 100vh;
    background: var(--color-black-100);
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* HEADER */
.header{
    width: 100%;
    padding: 2rem 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.header > h1{
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    color: var(--color-cyan-100);
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.header > h2{
    font-weight: lighter;
    color: white;
    letter-spacing: 2px;
    font-size: 0.6rem;
    text-transform: uppercase;
}
.legends{
    height: 150px;
    position: absolute;
    top: 25%;
    left: 18%;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 1fr);
}
.legends > div{
    width: 220px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.legends > div > .color{
    background: var(--color-family);
    filter: drop-shadow(0 0 10px var(--color-family));
    width: 60px;
    height: 15px;
    position: absolute;
    left: 0;
    border-radius: 2px;
}
.legends > div > .type{
    width: 90px;
    color: grey;
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
}
/* TABLE DESIGN */
.table{
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(10,1fr);
    column-gap: 5px;
    row-gap: 5px;
}
.table > .element{ 
    position: relative;
    border: 1px outset var(--color-family);
    background: var(--color-black-100);
    padding: 0.8rem 0.2rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.table > .element p{
    filter: drop-shadow(0 0 10px var(--color-family));
    color: var(--color-family);
    font-weight: bold;
    font-size: 1rem;
}
.table > .element > .meaning{
    font-size: 0.6rem;
    text-transform: capitalize;
    color: rgb(189, 189, 189);
    margin-top: 0.3rem;
}
.table > .element > .num{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2rem;
    font-size: 0.7rem;
    color: var(--color-family);
}
.table > .element::after{
    content: attr(data-foo);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem;
    font-size: 0.6rem;
    color: var(--color-family);
    transition: 0.5s ease-out;
    margin-bottom: 0.7rem;

    display: none;
}
.table > .element.empty{
    cursor:default;
}
.table > .element:hover{
    transform: scale(1.5);
    z-index: 999;
}
.table > .element:hover.empty{
    transform: none;
}
.table > .element:hover::after{
    display: block;
}
.table > .element:hover > .meaning{
    color: var(--color-white-100);
    transition: 0.5s ease-out;
    font-weight: bold;
}
/* COLUMNS */
/* COLUMN 1 */
.table > .element.row1:nth-of-type(2){
    grid-column: 18/19;
}

/*COLUMN 2 &&COLUMN  3*/
.table > .element.row2:nth-child(5),
.table > .element.row3:nth-child(13){
    grid-column: 13/14;
}
.table > .element.row2:nth-child(6),
.table > .element.row3:nth-child(14){
    grid-column: 14/15;
}
.table > .element.row2:nth-child(7),
.table > .element.row3:nth-child(15){
    grid-column: 15/16;
}
.table > .element.row2:nth-child(8),
.table > .element.row3:nth-child(16){
    grid-column: 16/17;
}
.table > .element.row2:nth-child(9),
.table > .element.row3:nth-child(17){
    grid-column: 17/18;
}
.table > .element.row2:nth-child(10),
.table > .element.row3:nth-child(18){
    grid-column: 18/19;
}
.table > .element.row8.space{
    grid-column: 1/3;
    background: transparent;
}
.table > .element.row9.space{
    grid-column: 1/3;
    background: transparent;
}
/* ROWS */
/* ROW1 */
.table > .element.row1{
    grid-row: 1/2;
}
/* ROW2 */
.table > .element.row2{
    grid-row: 2/3;
}
/* ROW3 */
.table > .element.row3{
    grid-row: 3/4;
}
/* ROW4 */
.table > .element.row4{
    grid-row: 4/5;
}
/* ROW5 */
.table > .element.row5{
    grid-row: 5/6;
}
/* ROW6 */
.table > .element.row6{
    grid-row: 6/7;
}
/* ROW7 */
.table > .element.row7{
    grid-row: 7/8;
}
/* ROW8 */
.table > .element.row8{
    grid-row: 9/10;
}
/* ROW9 */
.table > .element.row9{
    grid-row: 10/11;
}


@media only screen and (max-width: 1023px){
    .legends{
        position: relative;
        width: 100%;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .legends > div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 2px;
    }
    .legends > div > .color{
        grid-column: 1/2;
        width: 60px;
        height: 15px;
        left: 40px;
    }
    .legends > div > .type{
        grid-column: 2/3;
        text-align: left;
    }

    .table {
        width: 100%;
        margin-top: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .table > .element{
        width: 10%;
        
    }
    .table > .element:hover{
        transform: scale(1.2);
    }
    .table > .element.row8.space,
    .table > .element.row9.space{
        display: none;
    }
    .table > .element.empty{
        border: none;
    }
}

@media only screen and (max-width: 767px){
    .table > .element{
        width: 30%;
    }
    .table > .element:hover{
        transform: scale(1.2);
    }
}